<%= form_for(@store) do |f| %>
  <% if @store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% @store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <%= hidden_field_tag 'store[facilities][]' %>
  <% Store::FACILITY_OPTIONS.each do |code, key| %>
    <% options = { multiple: true, checked: @store.facilities.include?(code) } %>
    <% checked_value = code %>
    <% unchecked_value = nil %>
    <label>
      <%= f.check_box :facilities, options, checked_value, unchecked_value %>
      <%= key %>
    </label>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
